#tab-intro {
  @media screen and (max-width: 1280px) {
    height: 250vh;
    margin-bottom: 0;
  }
  @media screen and (max-width: 800px) {
    height: 230vh;
  }
  @media screen and (max-width: 1280px) {
    height: 280vh;
  }
  height: 150vh;
  margin-bottom: 100px;
  .intro-container {
    @media screen and (max-width: 1280px) {
      flex-direction: column-reverse;

      align-items: center;
    }
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    justify-content: center;
    align-items: flex-end;
    // padding: 100px 0 0;
    a {
      display: block;
    }
    img {
      @media screen and (max-width: 1280px) {
        width: 30vw;
      }
      @media screen and (max-width: 800px) {
        width: 50vw;
      }
      width: 20vw;
      // border-radius: 10%;
      // margin-right: 100px;
      // border-right: 0.5px solid #000;
    }

    .intro-text {
      @media screen and (max-width: 1280px) {
        text-align: center;
      }

      text-align: start;
      // padding: 70px 0;
      padding: 70px 50px 70px 0;
      margin-left: 50px;
      h1 {
        @media screen and (max-width: 800px) {
          font-size: 5vw;
        }

        font-size: 4vw;
        color: #4e4e4e;
        padding: 25px 0;
      }

      .line {
        display: block;
        width: 100%;
        height: 0.05rem;
        background: #888888;
        margin: 1.875rem 0 2.5rem;
      }
      p {
        font-size: 1rem;
        letter-spacing: 0.8px;
        opacity: 0.6;
        line-height: 1.8;
      }
    }
  }

  .skill-container {
    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: start;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    opacity: 0.6;
    color: #525252;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    font-family: "Century Gothic", "Lato", sans-serif;
    .skill-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }
    .skill-wrap {
      @media screen and (max-width: 800px) {
        padding: 35px 0;
      }
      padding: 35px;
      // margin: 18px 9px;
      border-bottom: solid 0.5px #000;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:nth-child(3) {
        border-bottom: none;
      }
      &:last-child {
        border-bottom: none;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        // width: 1px;
        height: 100%;
        // border: 1px solid #000;
        // background: #fff;
        // background: #d9d9d9;
        opacity: 0.7;
        filter: blur(2px);
        &:first-child {
          display: none;
        }
      }
      .icon {
        display: flex;
        span {
          padding: 0 0.625rem 0.625rem 0;
        }
        b {
          font-size: 20px;
        }
      }
      em {
        font-size: 12px;
      }
    }
    ul {
      padding: 10px;
    }
    .education {
      ul {
        li {
          line-height: 1.6;
        }
      }
    }
    .skill {
      ul {
        padding: 5px;
        li {
          display: flex;
          align-items: center;
          ul {
            display: flex;
            li {
              font-size: 12px;
              padding: 10px;
              margin: 3px;
              border: 1px solid #585858;
              border-radius: 20px;
            }
          }
        }
      }
    }
    .Career {
      @media screen and (max-width: 1280px) {
        border-top: 0.5px solid #000;
        border-left: none;
      }
      border-left: 0.5px solid #000;
      .Career-list {
        padding-top: 6px;
      }
    }
  }
}
