.skill-text {
  padding-top: 30px;
  text-align: start;
  font-size: 0.8125rem;
  letter-spacing: 0.0625rem;
  opacity: 0.6;
  margin-top: 5px;
  color: #333333;
  font-family: "Century Gothic", "Lato", sans-serif;
}
