@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --basic-font: "pretendard";
  --mainEng-font: "Montserrat";
  --mainKor-font: "Noto Sans KR";
  --mainNum-font: "gmarket";
  --mainBg-color: #f3ede8;
  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;
  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;
  /* 기본 폰트 설정 */
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  /* 폰트를 부드럽게 렌더링하기 위한 속성  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 아이폰 가로 모드에서 글씨 확대 금지 */
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
}
body {
  color: var(--black100);
  background-color: #eee;
}

.mont {
  font-family: "Montserrat";
}

.pretendard {
  font-family: "Pretendard-Regular";
}

.gmarket {
  font-family: "GmarketSansMedium";
}

.notosanskr {
  font-family: "Noto Sans KR", sans-serif;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
header,
main,
article {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

fieldset,
img {
  border: 0 none;
  vertical-align: top;
  width: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #111;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#tab-intro .intro-container {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#tab-intro .intro-container img {
  width: 20vw;
  border-radius: 10%;
  margin-right: 50px;
}
#tab-intro .intro-container .intro-text {
  text-align: start;
}
#tab-intro .intro-container .intro-text .line {
  display: block;
  width: 400px;
  height: 1px;
  background: #000;
  margin: 30px 0 40px;
}
#tab-intro .intro-container .intro-text h3 {
  font-size: 0.9375rem;
  letter-spacing: 0.05rem;
  opacity: 0.6;
  line-height: 2;
}

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs .typing-demo,
.et-slide .typing-demo {
  width: 30ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2rem;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.deco {
  /* customizable snowflake styling */
  /* Demo Purpose Only*/
}
.deco .snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.deco .snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.deco .snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s;
}
.deco .snowflake:nth-of-type(1) {
  left: 10%;
  animation-delay: 1s, 1s;
}
.deco .snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 6s, 0.5s;
}
.deco .snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 4s, 2s;
}
.deco .snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s, 2s;
}
.deco .snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 8s, 3s;
}
.deco .snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 6s, 2s;
}
.deco .snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 2.5s, 1s;
}
.deco .snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 1s, 0s;
}
.deco .snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 3s, 1.5s;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(151, 153, 167, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: rgba(119, 124, 153, 0.8);
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}/*# sourceMappingURL=comm.css.map */